.cl_se_h1 { font-weight: bold; font-size: 18px; }

.cl_se_tab1 { width: 100%; }

.cl_se_td1 {width:30%;}
.cl_se_td2 {width:50%;}
.cl_se_td1 {width:20%;}

.cl_se_product {width:100%;}

.cl_se_day {text-align: right;}

.final_submit {text-align: center; width:100%;}

.cl_se_find_but { width:300px; font-weight: bold; font-size:16px;}