

#form
{
	position: relative;
	vertical-align:middle;
	text-align:right;
	vertical-align:middle;
	
}




#resultsContainer
{
	border-bottom:  1px solid #36F;
	border-top:  1px solid #3d7bad;
	border-left:  1px solid #a4c9e3;
	border-right:  1px solid #a4c9e3;
	border-top:0px;
	display: none;
	padding: 0px;
	width: 466px;
	position:absolute;
	z-index:10000;
    background-color:#FFF;
    vertical-align:middle;
    
	font-weight:normal;
	height: 200px !important;
	overflow: auto !important;
	
}

#resultsContainer a
{

font-weight:normal;
padding-top:2px;
padding-bottom:2px;
text-align:left;
color:#333333;
font-size:10px;
text-decoration:none;
vertical-align:middle;
text-align:left;


}

#resultsContainer input {font-size:14px; line-height:30px; display:block; margin-left:12px;}

.url-holder
{
height:20px;
vertical-align:middle;
position: relative;
padding-top:2px;
padding-bottom:2px;
text-align:left;
color:#333333;
font-size:10px;
font-weight:normal;
}

.url-holder:hover {
background-color: #bdd0f9;
text-decoration:none;
color:#333333;
font-size:10px;
font-weight:normal;
}

.url-holder_title
{
height:20px;
vertical-align:middle;
position: relative;
padding-top:2px;
padding-bottom:2px;
text-align:left;
color:#333333;
font-size:10px;
font-weight:bold;
background-color: #bdd0f9;
line-height:20px;
}


.url-title
{
	font-size: 11px;
vertical-align:middle;
}

.url-desc
{
	font-size: 11px;
	padding-right: 10px;
vertical-align:middle;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 700px) {
#resultsContainer{
border-width: 0px 1px 1px;
border-style: none solid solid;
border-color: -moz-use-text-color #A4C9E3 #36F;
display: none;
padding: 0px;
width: 275px;
position: relative;
z-index: 10000;
background-color: #FFF;
vertical-align: middle;

font-weight: normal;
height: 200px !important;
overflow: auto;
}}

@media only screen and (min-device-width : 701px) and (max-device-width : 1023px) {
#resultsContainer {
    border-width: 0px 1px 1px;
    border-style: none solid solid;
    border-color: -moz-use-text-color #A4C9E3 #36F;
    display: none;
    padding: 0px;
    width: 260px;
    position: relative;
    z-index: 10000;
    background-color: #FFF;
    vertical-align: middle;

    font-weight: normal;
    height: 200px !important;
    overflow: auto !important;
}}
